.search-area-button{
    width: fit-content;
    border-radius: 25px;
    padding: 0.6rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    z-index: 30;
    gap: 1rem;
    /* background-color: #282828; */
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.search-area-button:hover{
    background-color: #f0f0f0;
}

.search-area-icon {
    height: 20px;
    width: 20px;
    color: #429AD1;
}
.search-area-text{
    margin: 0%;
}