.place-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid rgba(113, 117, 121, 0.3);
}

.place-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}
.place-right {
  width: 35%;
}
.place-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.place-header {
  margin: 0px;
  font-size: 16px;
}
.place-address {
  color: #717579;
  margin: 0%;
  font-size: 14px;
}
.place-rating-price-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 14px;
  width: 100%;
}
.place-rating {
  color: #717579;
  margin: 0%;
}
.place-rating-bold {
  color: #717579;
  margin: 0%;
  font-weight: 700;
}
.place-rating-icon {
  height: 18px;
  width: 18px;
  color: #f2bd42;
}
.place-open {
    color: #717579;
    margin: 0%;
  font-size: 14px;
}


.place-phone {
  color: #717579;
  margin: 0%;
  font-size: 14px;
}
.place-price {
  color: #717579;
  margin: 0%;
  font-size: 14px;
}
.place-web {
  color: #717579;
  margin: 0%;
  font-size: 14px;
  font-weight: 700;
}

.place-info-icon {
  color: #717579;
  height: 18px;
  width: 18px;
}

.place-url {
  text-decoration: none;
  color: inherit;
}
.place-url-icon {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
