.list-container {
  width: 300px;
  height: 95%;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 20;
  padding: 0 20px;
}
/* .list-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
} */
.list-header {
  text-align: left;
  color: #000;
  font-weight: 700;
}
.dropdown-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.card-section-container{
  width: 100%;
  overflow: scroll;
}
.card-header {
  color:#000;
}

